In [1]:
from dmrApp import create_app, db
from dmrApp.models import Dmrs, Employees, Employeeroles, Post, Restaurants, Shifts, User, Standardwages
import numpy as np
from datetime import date, datetime
from datetime import timedelta
import datetime
from sqlalchemy import func
import pandas as pd
import os
proxyApp=create_app()
ctx=proxyApp.app_context()
ctx.push()

C:\tools\miniconda3\envs\dmrAppConda\lib\site-packages\flask_sqlalchemy\__init__.py:833: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [7]:
empName='Gibson'
db.session.query(Employees).filter((Employees.name==empName) & (Employees.deactivatedBy==None)).all()

[Employee('10','Gibson','Hops N Shine')]

In [73]:
resId='3'
# employeeRoleIds=Employeeroles.query
employeeRoleData=Employeeroles.query

In [81]:
if int(resId) in [3,4,5,6]:
    employeeRoleData=employeeRoleData.filter((Employeeroles.restaurantId>=3) & (Employeeroles.restaurantId<=6))
    #remove deactivated employees from this list 
    employeeRoleEmpIdList=[i[0] for i in employeeRoleData.with_entities(Employeeroles.empId).distinct().all()]
    #employeeRoleEmpIdList unique list of all empID's
    
    employeeDataFiltered=Employees.query.filter(Employees.id.in_(employeeRoleEmpIdList) & Employees.deactivatedBy==None).all()
    empIdListFiltered=[i.id for i in employeeDataFiltered]
    #empId's filtered
    
# #     use employeeIdList to get roles
    employeeRoleList=Employeeroles.query.filter(Employeeroles.empId.in_(empIdListFiltered)).with_entities(
        Employeeroles.role).distinct().all()
    employeeRoleList=[i[0] for i in employeeRoleList]
    
# #     Get employee Names list
    empNameList=Employees.query.filter(Employees.id.in_(empIdListFiltered)).with_entities(Employees.name).all()
    empNameList=[i[0] for i in empNameList]
    
    print(empNameList)

['Nick', 'Shayan', 'apprentice1', 'apprentice2', 'Zane', 'Icarus']

In [6]:
maxEmpId=db.session.query(func.max(Employees.id)).first()[0]
maxEmpId

999999

In [16]:
checkAvail = maxEmpId-1
flag = True
flag

True

In [22]:
newDeactiveId=999999
flag=True
while flag:
    if Employees.query.filter_by(id=newDeactiveId).first():
        newDeactiveId = db.session.query(func.max(Employees.id)).first()[0]-1
    else:
        flag=False

newDeactiveId

999998

In [3]:
emp1=Employees.query.filter_by(id=empId).first()
emp1.id=newDeactiveId
# newEmp.deactivatedBy=1
db.session.commit()

In [5]:
emp1.id=999999
db.session.commit()

In [16]:
emp1Roles=Employeeroles.query.filter_by(empId=empId).all()
for i in emp1Roles:
    i.empId=newDeactiveId
db.session.commit()

In [17]:
emp1Shifts=Shifts.query.filter_by(empId=empId).all()
for i in emp1Shifts:
    i.empId=newDeactiveId
db.session.commit()

In [ ]:
Employees.query.filter_by(id=newDeactiveId).first()

In [24]:
empId=1
Shifts.query.filter_by(empId=empId).first()

Shift('7','None','empId: 1','Nick','Tysons Biergarten')

In [20]:
newEmp=Employees.query.filter_by(id=newEmpId).first()
newEmp.deactivatedBy=1
db.session.commit()

In [4]:
newEmp=Employees.query.filter_by(id=newEmpId).first()
newEmp

Employee('999999','Athena_emp','Salamati Grill', deactivatedBy:'CostaRica)

In [5]:
current_user.username

NameError: name 'current_user' is not defined

In [34]:
roleId=1

checkShifts(roleId)

'02-07-2021'

In [24]:
db.session.query(Shifts.shiftDate,func.max(Shifts.id)).filter_by(employeeRolesId=roleId).first()

(None, None)

In [33]:
def checkShifts(roleId):
    shiftDate=db.session.query(Shifts.shiftDate,func.max(Shifts.id)).filter_by(employeeRolesId=roleId).first()
    if shiftDate==(None, None):
        return None
    else:
        return shiftDate[0].strftime("%m-%d-%Y")

In [14]:
shiftsData=Shifts.query.filter_by(employeeRolesId=roleId).all()

In [15]:
shiftsData

[Shift('2','None','empId: 2','Shayan','Tysons Biergarten'),
 Shift('6','None','empId: 2','Shayan','Tysons Biergarten'),
 Shift('9','None','empId: 2','Shayan','RollBar'),
 Shift('10','None','empId: 2','Shayan','RollBar'),
 Shift('15','','empId: 2','Shayan','Hops N Shine')]

In [18]:
db.session.query(Shifts.shiftDate,func.max(Shifts.id)).filter_by(employeeRolesId=roleId).first()

(datetime.date(2021, 1, 5), 15)

In [2]:
empId='1'

In [3]:
empRolesObj = Employeeroles.query.filter_by(empId=int(empId)).all()

In [11]:
roleTableList = []
for role in empRolesObj:
    roleId= role.id
    roleRole = role.role
    roleWage = role.wage
    roleTipPercentage = role.tipPercentage
    roleRes = Restaurants.query.filter_by(id=role.restaurantId).first().name
    roleNotes = role.notes
    subList=[roleId, roleRole, roleWage, roleTipPercentage, roleRes, roleNotes]
    roleTableList.append(subList)
roleTableList

[[1, 'bartender', 2.13, 1.0, 'Tysons Biergarten', None],
 [2, 'security', 12.0, 0.0, 'Tysons Biergarten', None]]

In [15]:
# to a dataframe
df = pd.DataFrame(columns=['Role ID','Role','Wage Rate','Tip Percentage','Restaurant', 'Notes'])
roleTableList = []
i=0
for role in empRolesObj:
    roleId= role.id
    roleRole = role.role
    roleWage = role.wage
    roleTipPercentage = role.tipPercentage
    roleRes = Restaurants.query.filter_by(id=role.restaurantId).first().name
    roleNotes = role.notes
    subList=[roleId, roleRole, roleWage, roleTipPercentage, roleRes, roleNotes]
    df.loc[i]=subList
    i+=1
#     roleTableList.append(subList)
df.set_index('Role ID', inplace=True)
df

              Role  Wage Rate  Tip Percentage         Restaurant Notes
Role ID
1        bartender       2.13             1.0  Tysons Biergarten  None
2         security      12.00             0.0  Tysons Biergarten  None

In [18]:
tableData=df.to_dict('records')
tableData

[{'Role': 'bartender',
  'Wage Rate': 2.13,
  'Tip Percentage': 1.0,
  'Restaurant': 'Tysons Biergarten',
  'Notes': None},
 {'Role': 'security',
  'Wage Rate': 12.0,
  'Tip Percentage': 0.0,
  'Restaurant': 'Tysons Biergarten',
  'Notes': None}]

In [17]:
restaurantId = Restaurants.query.filter_by(name='Salamati Grill').with_entities(Restaurants.id).first()[0]
restaurantId

6

In [49]:
dateFrom=''
dateTo=''
resId=''

#def payrollReport(date...)

In [50]:
shiftDf=pd.read_sql_table('shifts',db.engine)
employeerolesDf=pd.read_sql_table('employeeroles',db.engine)
restaurantsDf=pd.read_sql_table('restaurants',db.engine)

#added new 27 January 2021
if dateFrom=='':
    dateFrom=date.today().strftime("%Y-%m-%d")

#Build dictionary of weeks with Start and end dates
#get date ranges for tables
weekStartDt= datetime.datetime.strptime(dateFrom,'%Y-%m-%d').date()
weekEndDt=datetime.datetime.strptime(dateFrom,'%Y-%m-%d').date() + timedelta(days=6)
weeksDict={}

for i in range(1,2):
    weeksDict[f'week{i}']=[weekStartDt,weekEndDt]
    weekStartDt=weekEndDt + timedelta(days=1)
    weekEndDt = weekEndDt + timedelta(days=7)
    i+=1
weeksDict[f'week{i}']=[weeksDict[f'week{i-1}'][0] + timedelta(days=7),weeksDict[f'week{i-1}'][1] + timedelta(days=7)]

In [61]:
weeksDict

{'week1': [datetime.date(2021, 1, 27), datetime.date(2021, 2, 2)],
 'week2': [datetime.date(2021, 2, 3), datetime.date(2021, 2, 9)]}

In [56]:
#build dataframe for one week's payroll if it exists
dfList=[]
# i=1
for x,y in weeksDict.items():
    df=shiftDf[(shiftDf['shiftDate']>=str(y[0])) & (shiftDf['shiftDate']<=str(y[1]))]
    if resId=='':
        pass
    elif resId>=3:
        df=df[df['restaurantId']==resId]
    elif resId==2:
        df=df[(df['restaurantId']>=3)& (df['restaurantId']<=6)]
    dfList.append(df)

In [57]:
len(dfList)

2

In [60]:
y[0]

datetime.date(2021, 2, 3)

In [52]:


    if len(df)>0:
        df=df.groupby(['name','empId','employeeRolesId','restaurantId']).sum()
        df=df[['hoursWorked','shiftTips','shiftTipsShipgarten','wages']].copy()
        df.reset_index(inplace=True)
        df['Tips']=np.where((df['restaurantId'] >=3) & (df['restaurantId']<=6),df['shiftTipsShipgarten'],df['shiftTips'])
        df.set_index(['name','empId','employeeRolesId','restaurantId'], inplace=True)
        df1=df[['hoursWorked','Tips','wages']].copy()
        df1.columns=['Hours', 'Tips','Wages']
        dfList.append(df1)
    else:
        noShiftsColumn=f'No shifts {str(y[0])} thru {str(y[1])}'

if len(dfList)==0:
    print('***no Shifts***')
elif len(dfList)==1:
    df2=dfList[0]
else:
    df2=pd.merge(dfList[0],dfList[1],how='outer', on=['name','empId','employeeRolesId','restaurantId'], 
         suffixes=(' Week1',' Week2')).fillna(0)
    df2['Total Hours']=df2['Hours Week1']+df2['Hours Week2']
    df2['Total Tips']=df2['Tips Week1']+df2['Tips Week2']
    df2['Total Wages']=df2['Wages Week1']+df2['Wages Week2']

***no Shifts***

In [53]:
df.head()

Empty DataFrame
Columns: [id, shiftDate, name, schedTime, timeStart, timeOff, hoursWorked, shiftTips, shiftTipsShipgarten, wages, shiftsTimeStamp, empId, employeeRolesId, userId, restaurantId, restaurantGroupId]
Index: []

In [35]:
#get hourly rate from employee roles
rolesDf=employeerolesDf[['id','role','wage']].copy()
rolesDf.columns=['roleId','Role','Wage']
df2.reset_index(inplace=True)
df2.set_index('employeeRolesId')
df3=pd.merge(df2,rolesDf,how='left',left_on='employeeRolesId',right_on='roleId')

restaurantsDf.columns=['restaurantId','Restaurant Name']
df4=pd.merge(df3,restaurantsDf,how='left',left_on='restaurantId',right_on='restaurantId')

In [36]:
if len(df4.columns)==11:
    colNames=['Name','Restaurant Name','Role','Hours','Wages','Tips']
    payrollReportDf=df4[['name','Restaurant Name','Role','Hours','Wages','Tips']].copy()
    payrollReportDf['Week Start']=weeksDict['week1'][0]
    payrollReportDf['Shift Status']=noShiftsColumn
    for i in payrollReportDf.iloc[:,3:-2]:
        payrollReportDf[i]=payrollReportDf[i].apply(lambda x: round(x, 2))
else:
    colNames=['Name','Restaurant Name','Role','Hours Week1','Hours Week2','Total Hours','Wages Week1',
                       'Wages Week2','Total Wages','Tips Week1','Tips Week2','Total Tips']
    payrollReportDf=df4[['name','Restaurant Name','Role','Hours Week1','Hours Week2','Total Hours','Wages Week1',
                       'Wages Week2','Total Wages','Tips Week1','Tips Week2','Total Tips']].copy()
    payrollReportDf['Week1 Start']=weeksDict['week1'][0]
    payrollReportDf['Week2 Start']=weeksDict['week2'][0]
    for i in payrollReportDf.iloc[:,3:-2]:
        payrollReportDf[i]=payrollReportDf[i].apply(lambda x: round(x, 2))
payrollReportDf.rename(columns={'name':'Name'},inplace=True)


# convert weeksDict to df
dfWeeks=pd.DataFrame(weeksDict)
print('payrollReport Completed Successfully')
# return (payrollReportDf,colNames,dfWeeks)

payrollReport Completed Successfully

In [37]:
payrollReportDf.head()

,Name,Restaurant Name,Role,Hours Week1,Hours Week2,Total Hours,Wages Week1,Wages Week2,Total Wages,Tips Week1,Tips Week2,Total Tips,Week1 Start,Week2 Start
0,Icarus,Hops N Shine,bartender,9.00,0.0,9.00,19.17,0.00,19.17,0.00,0.00,0.00,2021-01-01,2021-01-08
1,Nick,Tysons Biergarten,bartender,1.00,2.0,3.00,2.13,4.26,6.39,0.67,1.00,1.67,2021-01-01,2021-01-08
2,Nick,Hops N Shine,security,8.00,0.0,8.00,96.00,0.00,96.00,0.00,0.00,0.00,2021-01-01,2021-01-08
3,Shayan,Tysons Biergarten,bartender,2.68,3.0,5.68,5.72,6.39,12.11,0.94,0.78,1.73,2021-01-01,2021-01-08
4,Shayan,RollBar,bartender,3.00,0.0,3.00,6.39,0.00,6.39,1.06,0.00,1.06,2021-01-01,2021-01-08

In [ ]:
df=shiftDf[(shiftDf['shiftDate']>=str(y[0])) & (shiftDf['shiftDate']<=str(y[1])) & (shiftDf['restaurantId']==resId)]

In [24]:
dmrDateObj=date(2021,1,5)
resIds=7

In [1]:
someString='empId|25'
_, empId=someString.split('|')
print(empId)

25