In [1]:
from dmrApp import create_app, db
from dmrApp.models import Dmrs, Employees, Employeeroles, Post, Restaurants, Shifts, User, Standardwages
from dmrApp.main.utils import shiftDataReport, payrollReportUtil, dmrDataReport, shiftDataLists
import numpy as np
from datetime import date, datetime
from datetime import timedelta
import datetime
from sqlalchemy import func
import pandas as pd
import os
proxyApp=create_app()
ctx=proxyApp.app_context()
ctx.push()

C:\tools\miniconda3\envs\dmrAppConda\lib\site-packages\flask_sqlalchemy\__init__.py:833: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [ ]:
empName='Zane'
db.session.query(Employees).filter(
                (Employees.name==empName)).all()

In [ ]:
dmrDateObj=date(2021,1,21)
resId=7
shiftDataAdd=Shifts.query.filter_by(shiftDate=dmrDateObj,restaurantId=resId)

In [ ]:
shiftDataAdd.with_entities(Shifts.hoursWorked).all()

In [ ]:
dateFrom=date(2021,1,21)
dateTo=date(2021,1,21)
resId=7
shiftData = Shifts.query
if dateFrom:
    shiftData = shiftData.filter(Shifts.shiftDate>=dateFrom)
if dateTo:
    shiftData = shiftData.filter(Shifts.shiftDate<=dateTo)
if resId:
    shiftData = shiftData.filter(Shifts.restaurantId==resId)
len(shiftData.all())

In [ ]:
shiftTipsPerHourList=[]
for i in shiftData:
#     print(i.restaurant.id,i.shiftDate)
#     print(i.employeerole.role)
    if i.employeerole.role == 'Bartender':
        shiftTipsPerHour=db.session.query(func.max(Dmrs.id),Dmrs.bartenderTipsPerHour,Dmrs.appTipsPerHour
                          ).filter_by(restaurantId=i.restaurant.id,dmrDate=i.shiftDate).first()[1]
    if i.employeerole.role == 'Apprentice':
        shiftTipsPerHour=db.session.query(func.max(Dmrs.id),Dmrs.bartenderTipsPerHour,Dmrs.appTipsPerHour
                          ).filter_by(restaurantId=i.restaurant.id,dmrDate=i.shiftDate).first()[2]
    shiftTipsPerHourList.append(shiftTipsPerHour)
#     print(db.session.query(func.max(Dmrs.id),Dmrs.bartenderTipsPerHour,Dmrs.appTipsPerHour
#                           ).filter_by(restaurantId=i.restaurant.id,dmrDate=i.shiftDate).first())
#     print(Dmrs.query.filter_by(restaurantId=i.restaurant.id,dmrDate=i.shiftDate).first().numHoursWorked)
# bartenderTipsForEachShift=

In [6]:
import numbers
import decimal

In [12]:
"{0:,.2f}".format(15555.552)

'15,555.55'

In [14]:
payrollReportDf

[{'Employee': 'Amir-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': 24.216666666666665,
  'Hours Week2': 12.966666666666667,
  'Total Hours': 37.18333333333333,
  'Wages Week1': 51.581500000000005,
  'Wages Week2': 27.619,
  'Total Wages': 79.2005,
  'Tips Week1': 492.5962897860154,
  'Tips Week2': 323.87434529251607,
  'Total Tips': 816.4706350785315,
  'Tips+Wages Week1': 544.1777897860154,
  'Tips+Wages Week2': 351.4933452925161,
  'Total Tips+Wages': 895.6711350785315},
 {'Employee': 'Anya-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': 27.7,
  'Hours Week2': 16.166666666666664,
  'Total Hours': 43.86666666666666,
  'Wages Week1': 59.001000000000005,
  'Wages Week2': 34.435,
  'Total Wages': 93.436,
  'Tips Week1': 560.0495981912687,
  'Tips Week2': 420.5636827915444,
  'Total Tips': 980.6132809828132,
  'Tips+Wages Week1': 619.0505981912687,
  'Tips+Wages Week2': 454.9986827915444,
  'Total Tips+Wages': 1074.0492809828131},
 {'Employee': 'Danny-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': 7.983333333333333,
  'Hours Week2': 0.0,
  'Total Hours': 7.983333333333333,
  'Wages Week1': 17.0045,
  'Wages Week2': 0.0,
  'Total Wages': 17.0045,
  'Tips Week1': 126.3922906403941,
  'Tips Week2': 0.0,
  'Total Tips': 126.3922906403941,
  'Tips+Wages Week1': 143.3967906403941,
  'Tips+Wages Week2': 0.0,
  'Total Tips+Wages': 143.3967906403941},
 {'Employee': 'Milton-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': 18.7,
  'Hours Week2': 14.433333333333334,
  'Total Hours': 33.13333333333333,
  'Wages Week1': 39.831,
  'Wages Week2': 30.743000000000002,
  'Total Wages': 70.57400000000001,
  'Tips Week1': 459.2086650189972,
  'Tips Week2': 375.89060292274144,
  'Total Tips': 835.0992679417386,
  'Tips+Wages Week1': 499.0396650189972,
  'Tips+Wages Week2': 406.63360292274143,
  'Total Tips+Wages': 905.6732679417387},
 {'Employee': 'Philip-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': 6.4,
  'Hours Week2': 0.0,
  'Total Hours': 6.4,
  'Wages Week1': 13.632,
  'Wages Week2': 0.0,
  'Total Wages': 13.632,
  'Tips Week1': 169.8622189992748,
  'Tips Week2': 0.0,
  'Total Tips': 169.8622189992748,
  'Tips+Wages Week1': 183.4942189992748,
  'Tips+Wages Week2': 0.0,
  'Total Tips+Wages': 183.4942189992748},
 {'Employee': 'Shayan-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': 20.666666666666664,
  'Hours Week2': 18.833333333333336,
  'Total Hours': 39.5,
  'Wages Week1': 44.019999999999996,
  'Wages Week2': 40.114999999999995,
  'Total Wages': 84.13499999999999,
  'Tips Week1': 539.9109373640497,
  'Tips Week2': 474.7113689931982,
  'Total Tips': 1014.6223063572479,
  'Tips+Wages Week1': 583.9309373640497,
  'Tips+Wages Week2': 514.8263689931982,
  'Total Tips+Wages': 1098.757306357248}]

In [16]:
dateTo=''
dateFrom='2021-01-21'
resId=7
payrollReport=payrollReportUtil(dateFrom,dateTo,resId)
payrollReportDf=payrollReport[0].to_dict('records')
for i in payrollReportDf:
    for j,k in i.items():
        if isinstance(k, numbers.Number):
            i[j]="{0:,.2f}".format(k)
payrollReportDf

payrollReport Completed Successfully

[{'Employee': 'Amir-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': '24.22',
  'Hours Week2': '12.97',
  'Total Hours': '37.18',
  'Wages Week1': '51.58',
  'Wages Week2': '27.62',
  'Total Wages': '79.20',
  'Tips Week1': '492.60',
  'Tips Week2': '323.87',
  'Total Tips': '816.47',
  'Tips+Wages Week1': '544.18',
  'Tips+Wages Week2': '351.49',
  'Total Tips+Wages': '895.67'},
 {'Employee': 'Anya-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': '27.70',
  'Hours Week2': '16.17',
  'Total Hours': '43.87',
  'Wages Week1': '59.00',
  'Wages Week2': '34.44',
  'Total Wages': '93.44',
  'Tips Week1': '560.05',
  'Tips Week2': '420.56',
  'Total Tips': '980.61',
  'Tips+Wages Week1': '619.05',
  'Tips+Wages Week2': '455.00',
  'Total Tips+Wages': '1,074.05'},
 {'Employee': 'Danny-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': '7.98',
  'Hours Week2': '0.00',
  'Total Hours': '7.98',
  'Wages Week1': '17.00',
  'Wages Week2': '0.00',
  'Total Wages': '17.00',
  'Tips Week1': '126.39',
  'Tips Week2': '0.00',
  'Total Tips': '126.39',
  'Tips+Wages Week1': '143.40',
  'Tips+Wages Week2': '0.00',
  'Total Tips+Wages': '143.40'},
 {'Employee': 'Milton-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': '18.70',
  'Hours Week2': '14.43',
  'Total Hours': '33.13',
  'Wages Week1': '39.83',
  'Wages Week2': '30.74',
  'Total Wages': '70.57',
  'Tips Week1': '459.21',
  'Tips Week2': '375.89',
  'Total Tips': '835.10',
  'Tips+Wages Week1': '499.04',
  'Tips+Wages Week2': '406.63',
  'Total Tips+Wages': '905.67'},
 {'Employee': 'Philip-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': '6.40',
  'Hours Week2': '0.00',
  'Total Hours': '6.40',
  'Wages Week1': '13.63',
  'Wages Week2': '0.00',
  'Total Wages': '13.63',
  'Tips Week1': '169.86',
  'Tips Week2': '0.00',
  'Total Tips': '169.86',
  'Tips+Wages Week1': '183.49',
  'Tips+Wages Week2': '0.00',
  'Total Tips+Wages': '183.49'},
 {'Employee': 'Shayan-Bartender',
  'Restaurant Name': 'Hops N Shine',
  'Hours Week1': '20.67',
  'Hours Week2': '18.83',
  'Total Hours': '39.50',
  'Wages Week1': '44.02',
  'Wages Week2': '40.11',
  'Total Wages': '84.13',
  'Tips Week1': '539.91',
  'Tips Week2': '474.71',
  'Total Tips': '1,014.62',
  'Tips+Wages Week1': '583.93',
  'Tips+Wages Week2': '514.83',
  'Total Tips+Wages': '1,098.76'}]

In [2]:
dateTo='2021-01-21'
dateFrom='2021-01-21'
resId=7
colNamesShifts =['Date','Employee','Restaurant','Scheduled time','Start time',
    'Off time','Hours worked','Tips', 'Wages', 'Tips + Wages','Tips/Hour']

shiftData = Shifts.query
if dateFrom:
    shiftData = shiftData.filter(Shifts.shiftDate>=dateFrom)
if dateTo:
    shiftData = shiftData.filter(Shifts.shiftDate<=dateTo)
if resId:
    shiftData = shiftData.filter(Shifts.restaurantId==resId)

uniqueEmpIdList = shiftData.with_entities(Shifts.empId).distinct().all()

dfList=[]
for i in uniqueEmpIdList:
    shiftReportColumns = list(shiftDataLists(shiftData.filter(Shifts.empId==i[0])))
    res = max(shiftReportColumns[1], key = len)
#     print('max length', len(res))
    dfShifts = pd.DataFrame(list(zip(shiftReportColumns[0],shiftReportColumns[1],
                           shiftReportColumns[2],shiftReportColumns[3],
                           shiftReportColumns[4],shiftReportColumns[5],
                           shiftReportColumns[6],shiftReportColumns[7],
                           shiftReportColumns[8],shiftReportColumns[9],
                           shiftReportColumns[10]
                           )), columns=colNamesShifts)
    dfList.append(dfShifts)
# dfList

In [4]:
dfList[1].columns

Index(['Date', 'Employee', 'Restaurant', 'Scheduled time', 'Start time',
       'Off time', 'Hours worked', 'Tips', 'Wages', 'Tips + Wages',
       'Tips/Hour'],
      dtype='object')

In [49]:
uniqueEmpIdList = shiftData.with_entities(Shifts.empId).distinct().all()

[(3), (6)]