In [80]:
from dmrApp import create_app
from dmrApp.models import Dmrs, Employees, Employeeroles, Post, Restaurants, Shifts, \
    User, Standardwages

In [81]:
proxyApp=create_app()
ctx=proxyApp.app_context()
ctx.push()

C:\tools\miniconda3\envs\dmrAppConda\lib\site-packages\flask_sqlalchemy\__init__.py:833: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [135]:
#remember to end
ctx.pop()

In [55]:
dmrDateStr="2020-12-28"
restaurants_id=3

In [6]:
shiftData = Shifts.query.filter_by(restaurantId=3, shiftDate=dmrDateStr)
# shiftRolesList = [i.employeetype.role for i in shiftData.all()]

In [31]:
# i.employeetype.role
shiftData.first()[0].employeerole

AttributeError: 'list' object has no attribute 'first'

In [21]:
user=User.query.get(1)

In [22]:
user.posts

[Post('version 1.001','2020-12-29 11:54:49.626248')]

In [43]:
shiftData = Shifts.query.filter_by(restaurantId=3, shiftDate=dmrDateStr)
shiftData.all()

[Shift('1','afternoon','empId: 5','CJ','Tysons Biergarten'),
 Shift('2','afternoon','empId: 2','Nick','Tysons Biergarten'),
 Shift('3','afternoon','empId: 2','Nick','Tysons Biergarten')]

In [40]:
shiftData1=Shifts.query.filter_by(restaurantId=3, shiftDate=dmrDateStr).first()

In [41]:
shiftData2=Shifts.query.get(1)

In [42]:
shiftData1.employeerole

Employeeroles('10','bartender','stdWageFlag: True','Hops N Shine')

In [44]:
shiftData2.employeerole

Employeeroles('10','bartender','stdWageFlag: True','Hops N Shine')

In [45]:
for i in shiftData:
    print(i.employeerole)

Employeeroles('10','bartender','stdWageFlag: True','Hops N Shine')
None
None

In [46]:
shiftData = Shifts.query.filter_by(restaurantId=3, shiftDate=dmrDateStr)
shiftList=[i.employeerole for i in shiftData]
shiftList

[Employeeroles('10','bartender','stdWageFlag: True','Hops N Shine'),
 None,
 None]

In [51]:
#code in utils
shiftData = Shifts.query.filter_by(restaurantId=3, shiftDate=dmrDateStr)
shiftRolesList = [i.employeerole for i in shiftData]

In [54]:
shiftRolesList

[Employeeroles('10','bartender','stdWageFlag: True','Hops N Shine'),
 None,
 None,
 None,
 None]

In [83]:
shiftData = Shifts.query.filter_by(restaurantId=restaurants_id, shiftDate=dmrDateStr)
shiftNamesList=[i.employee.name for i in shiftData]

In [57]:
shiftNamesList

['CJ', 'Nick', 'Nick', 'Nick', 'Nick', 'Nick']

In [86]:
for i in shiftData.all():
    print(i.employeeRolesId)

10
2
2
2
2

In [88]:
from sqlalchemy import func
from dmrApp import db

In [99]:
resIds=db.session.query(func.max(Dmrs.id)).filter(
    Dmrs.dmrDate==dmrDateStr, Dmrs.restaurantGroupId==1).group_by(Dmrs.restaurantId).all()

In [103]:
for i in resIds:
    print(db.session.query(Dmrs.creditCardTip).filter(Dmrs.id==i[0]).first())

(1.0,)
(1.0,)

In [105]:
sum(db.session.query(Dmrs.creditCardTip).filter(Dmrs.id==i[0]).first()[0] for i in resIds)

2.0

In [112]:
resIds=db.session.query(func.max(Dmrs.id)).filter(
    Dmrs.dmrDate==dmrDateStr, Dmrs.restaurantGroupId==1).group_by(Dmrs.restaurantId).all()
resIds

[(2), (8)]

In [109]:
numHoursWorkedG=sum(db.session.query(
    Dmrs.numHoursWorked).filter(Dmrs.id==i[0]).first()[0] for i in resIds)+float(numHoursWorked)

TypeError: unsupported operand type(s) for +: 'float' and 'NoneType'

In [113]:
for i in resIds:
    print(db.session.query(
    Dmrs.numHoursWorked).filter(Dmrs.id==i[0]).first()[0])

0.0
0.0

In [132]:
maxId=(db.session.query(func.max(Dmrs.id)).first()[0]+1,)
maxId

(11,)

In [125]:
resIds=db.session.query(func.max(Dmrs.id)).filter(
    Dmrs.dmrDate==dmrDateStr, Dmrs.restaurantGroupId==1).group_by(Dmrs.restaurantId).all()

In [126]:
type(resIds)

list

In [133]:
resIds.append(maxId)

In [134]:
for i in resIds:
    print(i[0])

2
9
11