In [2]:
from dmrApp import create_app, db
from dmrApp.models import Dmrs, Employees, Employeeroles, Post, Restaurants, Shifts, \
    User, Standardwages
from sqlalchemy import func
proxyApp=create_app()
ctx=proxyApp.app_context()
ctx.push()

C:\tools\miniconda3\envs\dmrAppConda\lib\site-packages\flask_sqlalchemy\__init__.py:833: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [102]:
#before ending
ctx.pop()

In [7]:
# not sure i need the line below
# proxyApp.config['SQLALCHEMY_DATABASE_URI']=r'sqlite:///D:\databases\dmrApp.db'
db.create_all()

In [35]:
employees = Employees.query.with_entities(Employees.id, Employees.name).all()

In [36]:
employees

[(2, 'Nick'), (3, 'Shayan'), (4, 'Jose'), (5, 'CJ')]

In [30]:
import numpy as np

In [95]:
roleList=[]
resIdList=[]
for i in employees:
    empRolesList=db.session.query(Employeeroles).filter(Employeeroles.empId==i[0]).with_entities(Employeeroles.role).all()
    empRolesList = [j[0] for j in empRolesList]
    empResIdList =list(np.unique(db.session.query(Employeeroles).filter(
        Employeeroles.empId==i[0]).with_entities(Employeeroles.restaurantId).all()))
    
    roleList.append(empRolesList)
    resIdList.append(empResIdList)

resList=[]
for k in resIdList:
    empResList=[db.session.query(Restaurants).filter(Restaurants.id==int(l)).with_entities(
        Restaurants.name).first()[0] for l in k]
    resList.append(empResList)

In [100]:
empTableList=[]
for a,b,c in zip(employees, resList, roleList):
    empTableList.append([a[0],a[1],b[0],c])

In [89]:
resList

[['Tysons Biergarten'],
 ['Tysons Biergarten'],
 ['Tysons Biergarten'],
 ['Hops N Shine']]

In [90]:
roleList

[['bartender', 'security', 'driver', 'kitchen'],
 ['bartender', 'security', 'driver', 'kitchen'],
 ['kitchen'],
 ['bartender', 'kitchen']]

In [91]:
employees = Employees.query.with_entities(Employees.id, Employees.name).all()

In [92]:
employees

[(2, 'Nick'), (3, 'Shayan'), (4, 'Jose'), (5, 'CJ')]

In [101]:
newList

[[2,
  'Nick',
  'Tysons Biergarten',
  ['bartender', 'security', 'driver', 'kitchen']],
 [3,
  'Shayan',
  'Tysons Biergarten',
  ['bartender', 'security', 'driver', 'kitchen']],
 [4, 'Jose', 'Tysons Biergarten', ['kitchen']],
 [5, 'CJ', 'Hops N Shine', ['bartender', 'kitchen']]]

In [86]:
resList=[]
for k in resIdList:
#     for l in k:
#         print(type(l))
    empResList=[db.session.query(Restaurants).filter(Restaurants.id==int(l)).with_entities(
        Restaurants.name).first()[0] for l in k]
    resList.append(empResList)

In [25]:
empResList=db.session.query(Employeeroles).filter(Employeeroles.empId==2).with_entities(Employeeroles.restaurantId).all()
empResList=[x[0] for x in empResList]

In [31]:
empResListUnique=[]
for y in empResList:
    res=db.session.query(Restaurants).filter(Restaurants.id==y).with_entities(Restaurants.name).first()
    empResListUnique.append(res)
    
empResListUnique=np.unique(empResListUnique)

In [34]:
list(empResListUnique)

['Tysons Biergarten']

In [9]:
empResList =db.session.query(Employeeroles).filter(
    Employeeroles.empId==3).with_entities(Employeeroles.restaurantId).all()

empResList

[(3), (3), (3)]

In [16]:
roleList

[['kitchen'], [], ['bartender', 'driver', 'kitchen']]

In [12]:
db.session.query(Employeeroles).filter(Employeeroles.empId==1).with_entities(Employeeroles.role).all()

[('kitchen')]