In [1]:
from dmrApp import create_app, db
from dmrApp.models import Dmrs, Employees, Employeeroles, Post, Restaurants, Shifts, User, Standardwages
import numpy as np
from datetime import date, datetime
from datetime import timedelta
import datetime
from sqlalchemy import func
import pandas as pd
import os
proxyApp=create_app()
ctx=proxyApp.app_context()
ctx.push()

C:\tools\miniconda3\envs\dmrAppConda\lib\site-packages\flask_sqlalchemy\__init__.py:833: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [3]:
db.create_all()

In [12]:
wbPath=r"C:\Users\captian2020\Downloads\database_tables210126_042820.xlsx"

In [13]:
sheetUpload=pd.read_excel(wbPath,engine='openpyxl',sheet_name='post')

In [14]:
sheetUpload.head()

,id,title,date_posted,content,user_id
0,11,version 3.04-duplicate,2021-01-23 20:46:56.623798,-Employees(main) customizable employee id_x000...,1

In [15]:
df = sheetUpload.replace(r'_x000D_','', regex=True)

In [16]:
df.head()

,id,title,date_posted,content,user_id
0,11,version 3.04-duplicate,2021-01-23 20:46:56.623798,-Employees(main) customizable employee id\n-DM...,1

In [6]:
sheetUpload.to_csv('test.csv')

In [8]:
sheetUpload.iloc[0,1]

Timestamp('2021-01-09 00:00:00')

In [9]:
sheetUpload["dmrDate"] = pd.to_datetime(sheetUpload["dmrDate"]).dt.strftime('%Y-%m-%d')

In [10]:
sheetUpload.iloc[0,1]

'2021-01-09'

In [11]:
sheetUpload.to_csv('test.csv')

In [ ]:
sheetUpload=pd.read_excel(wb,engine='openpyxl',sheet_name=sheet)

In [7]:
post=db.session.query(Post,func.max(Post.id)).first()[0]

In [8]:
post.screenshot

'screenshot210126_131908.PNG'